.recipes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.recipes-content {
    padding: 10px;
    min-height: 60vh;
}

.floating-add-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 70px; /* גובה ה-header שלך */
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    display: none; /* ברירת מחדל */
    z-index: 100; /* מעל כל תוכן אך מתחת ל-header אם צריך */
}

.overlay:not(.hidden) {
    display: flex;
}


.modal {
    background: white;
    width: 90%;
    max-width: 600px;
    max-height: 75vh;
    overflow-y: auto;
    border-radius: 8px;
    padding: 20px;
}



.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-footer {
    display: flex;
    justify-content: left;
    align-items: center;
}

.removeBtn:disabled {
    opacity: 0.4;
}

.pill {
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s, color 0.2s;
    font-size: 0.9rem;
}

.pill-checkbox {
    display: none; /* מוסתר כדי שה-pill יהיה הכפתור הויזואלי */
}

.pill.selected {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}