/* 🎨 styles.css

Role: Styling of SPA components.
Communicates with: HTML only.
Contains:

Layout styles

Form styles

Recipe cards UI

Status messages

NOTE: maybe to separate into multiple CSS files
*/